<!-- <mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<h1 style="text-align: center; color: green" class="title">{{ message }}</h1>
<router-outlet></router-outlet> -->

<!-- <app-user-details
 newValue="demo"
 ></app-user-details> -->

<!-- <app-name-editor></app-name-editor> -->
<!-- <app-carousel></app-carousel> -->
<!-- <h1>hello</h1> -->
<!-- <app-footer></app-footer> -->

<!-- <app-our-services></app-our-services>
 <footer>
  <div class="contactContainer">
    <div class="contactImg">
      <img src="https://i.postimg.cc/VvsKTNVz/Vector.png" alt="" />
    </div>
    <div class="contactContent">
      <h2 class="contactHeading">Address</h2>
      <p class="contactParagraph">Ground Floor, Rainham House, Manor</p>
      <p class="contactParagraph">Way, Rainham, London RM13 8RH</p>
    </div>
    <div class="contactContent">
      <h2 class="contactHeading">Email</h2>
      <p class="contactParagraph">info&#64;ever-north.com - General Enquiies</p>
      <p class="contactParagraph">
        hr&#64;ever-north.com - Recruitment Enquiries
      </p>
    </div>
    <div class="contactContent">
      <h2 class="contactHeading">Phone</h2>
      <p class="contactParagraph">0333 888 0238</p>
      <p class="contactParagraph">0796 577 6666</p>
    </div>
  </div>
  <div class="hrLine">
    <hr />
  </div>
  <div class="socialMediaContainer">
    <div class="termsPrivacy">
      <p class="termsPrivacyItem1">Contact us</p>
      <p class="termsPrivacyItem">Privacy Statement</p>
      <p class="termsPrivacyItem">Terms of business</p>
      <p class="termsPrivacyItem">How to complain</p>
      <p class="termsPrivacyItem">Cookie Settings</p>
    </div>
    <div class="socialIcon">
      <div>
        <a target="_blank" href="https://www.facebook.com/financemagicapp"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
      <div>
        <a target="_blank" href="https://www.twitter.com/FinanceMagic_UK"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
      <div>
        <a target="_blank" href="https://www.instagram.com/financemagic.uk/"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
      <div>
        <a target="_blank" href="https://www.tiktok.com/@finance.magic"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
      <div>
        <a target="_blank" href="https://www.tiktok.com/@finance.magic"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
      <div>
        <a target="_blank" href="https://www.tiktok.com/@finance.magic"
          ><img
            src="https://i.postimg.cc/prznfNvz/icons8-facebook-50.png"
            alt=""
        /></a>
      </div>
    </div>
  </div>

  <div class="hrLine">
    <hr />
  </div>
  <div class="footerContent">
    <h2 class="footerCenterAlign">REGULATORY STATEMENT</h2>
    <p class="footerContentParagraph">
      Ever North Limited is a company registered in England and Wales with
      registration number 10216011. Head Office: Rainham House,Manor Way,
      Rainham, England, RM13 8RE. Ever North Limited is authorised and regulated
      by the Financial Conduct Authority. Our FCA Number is 800196. Information
      Commissioner’s Office (ICO) Registration Number: ZA336026. As a client of
      a regulated firm you have the right to take unsettled complaints to the
      Financial Ombudsman Service (FOS) which is an arbitration agency for
      complaints occurring in the financial services industry. Full details of
      the FOS can be found here:
      <a style="color: #2563eb" href="https://www.financial-ombudsman.org.uk"
        >https://www.financial-ombudsman.org.uk</a
      >
      Please note the content, services and information displayed on this site
      are intended for residents of the UK only. We may record telephone calls
      for training and quality purposes.
    </p>
    <h2 class="footerCenterAlign">WARNING</h2>
    <p style="text-align: center" class="footerContentParagraph">
      THINK CAREFULLY BEFORE SECURING OTHER DEBTS AGAINST YOUR HOME. YOUR HOME
      MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE OR
      ANY OTHER DEBT SECURED ON IT.
    </p>
    <p style="text-align: center" class="footerContentParagraph">
      >The Financial Conduct Authority does not regulate Bridging / Commercial
      loans and certain types of Buy to Let Mortgage and some investment
      mortgage contracts. Your Home is at risk if you do not keep up repayments
      on your mortgage or any other loan secured on it. Equity Release / Home
      Reversion – This is a Lifetime Mortgage or home reversion plan, to
      understand the features and risks, ask for a personalised illustration. >
    </p>
    <p
      style="text-align: center"
      class="footerCenterAlign footerContentParagraph"
    >
      Under no circumstances should any of the information contained within this
      website be construed as “advice”. You should seek professional advice in
      respect of your own circumstances.
    </p>
    <p class="footerCenterAlign copyright">
      2024© Ever North Ltd All Rights Reserved. Made by
      <span style="color: #2563eb">Finance Magic™</span>
    </p>
  </div>
</footer>  -->

<app-carousel2></app-carousel2>