<div>
  <h2 style="text-align: center; font-size: 30px; font-weight: 700;">Sign Up</h2>
  <p style="text-align: center; color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non amet soluta nesciunt veniam magni in accusamus aliquam et, quos rem?</p>
  <h2 style="text-align: center; font-size: 30px; font-weight: 700;">Sign Up</h2>
  <p style="text-align: center; color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non amet soluta nesciunt veniam magni in accusamus aliquam et, quos rem?</p>
  <h2 style="text-align: center; font-size: 30px; font-weight: 700;">Sign Up</h2>
  <p style="text-align: center; color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non amet soluta nesciunt veniam magni in accusamus aliquam et, quos rem?</p>
  <h2 style="text-align: center; font-size: 30px; font-weight: 700;">Sign Up</h2>
  <p style="text-align: center; color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non amet soluta nesciunt veniam magni in accusamus aliquam et, quos rem?</p>
</div>